@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');



/* ======== VARIABLES ======== */
$header-height: 80px;
$half-header-height: 40px;
$header-safe-height: 120px;
$max-body-width: 1250px;
$app-main-color: #191919;
$app-secondary-color: #292929;
$app-box-shadow: 0 5px 15px 0 rgba(37,44,97,.15),0 2px 4px 0 rgba(93,100,148,.2);
$app-border-radius: 4px;

$gradient-bg-white: linear-gradient(rgb(255, 255, 255), rgb(245, 245, 250));
/* ======== VARIABLES ======== */



/* ======== CSS RESET & GENERAL STYLE ======== */
* {
    margin: 0;
    padding: 0;

    font-size: 1em;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    list-style: none;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;

    color: $app-secondary-color;
}

.mobile-unhide {
    display: none;
}

.container {
    height: inherit;
    max-width: $max-body-width;
    margin: 0 auto;
    padding: 0 15px;
}
.flex-row {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.flex-row-left {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.flex-row-right {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.flex-col {
    display: flex;
    flex-direction: column;
}
.flex-col-center {
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flex-bottom {
    margin-top: auto;
}

.grid-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}
.grid-4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
}

.grad-bg {
    background-image: $gradient-bg-white;   
}
.pd-10 {
    padding: 10px;
}
.full-height {
    height: 100%;
}

.main-section {
    padding-top: $header-safe-height;
    padding-bottom: $half-header-height;
}
.main-section:last-child {
    min-height: calc(100vh - #{$header-height});
}

.section:not(:last-child) {
    margin-bottom: 10px;
}
.section-title {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.app-button {
    width: max-content;
    display: flex;
    align-items: center;
    background: $app-main-color;
    color: white;
    padding: 10px 15px;
    font-weight: bold;
    border-radius: $app-border-radius;
    transition: all 300ms;

    svg {
        margin-left: 5px;
        color: white;
        fill: white;
    }
}
.app-button:hover {
    background: $app-secondary-color;
} 

.app-button-inverted {
    width: max-content;
    display: flex;
    align-items: center;
    background: white;
    color: $app-main-color;
    padding: 10px 15px;
    font-weight: bold;
    border-radius: $app-border-radius;
    box-shadow: $app-box-shadow;
    transition: all 300ms;
}
.app-button-inverted:hover {
    background: #efefef;
}

form .app-button, form .app-button-inverted {
    width: auto;
    justify-content: center;
}

.app-link {
    font-style: italic;
    text-decoration: underline;
}

.card {
    background-image: $gradient-bg-white;
    border-radius: $app-border-radius;
    box-shadow: $app-box-shadow;
    transition: all 300ms;
}
.card:hover {
    transform: translateY(-5px);
    box-shadow: rgba(37, 44, 97, 0.15) 0px 10px 30px 0px, rgba(93, 100, 148, 0.2) 0px 4px 18px 0px;
}
.card-nohov:hover {
    transform: inherit;
    box-shadow: $app-box-shadow;
}

.icon-button {
    height: fit-content;
    width: fit-content;
    padding: 5px;
    border-radius: $app-border-radius;
    box-shadow: $app-box-shadow;

    svg {
        height: 48px;
        width: 48px;
        color: white;
        fill: white;
        -webkit-filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .5));
        filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .5));
    }
}
.icon-button-discord {
    background: #7289DA;
}
.icon-button-mail {
    background: #99AAB5;
}
.icon-button-twitter {
    background: #1DA1F2;
}

.warning-banner {
    background: #fc6551;
    padding: 10px 10px;
    margin-bottom: 15px;
    border-radius: $app-border-radius;
    box-shadow: $app-box-shadow;

    h1, p {
        color: white;
    }
}
/* ======== CSS RESET & GENERAL STYLE ======== */



/* ======== NAVBAR ======== */
#main-nav {
    height: $header-height;
    width: 100%;
    background: rgba(0, 0, 0, .8);
    backdrop-filter: saturate(100%) blur(4px);
    position: fixed;
    z-index: 999;
    margin-bottom: env(--safe-area-inset-top);
    box-shadow: $app-box-shadow;
}

.nav-logo {
    a {
        height: 64px;
        width: 64px;

        img {
            height: 64px;
            width: 64px;
        }
    }
}

.nav-list {
    display: flex;

    li {
        color: white;
        display: flex;

        .nav-link {
            transition: all 300ms;
            display: flex;
            flex-direction: row;
            align-items: center;

            svg {
                margin-left: 4px;
                color: white;
                fill: white;
                transition: all 300ms;
            }
        }
        .nav-link:hover {
            color: #cdcdcd;
            svg {
                color: #cdcdcd;
                fill: #cdcdcd;
            }
        }
    }
    li:not(:last-child)::after {
        content: '/';
        color: white;
        margin: 10px;
        opacity: 0.5;
    }
}

.mobile-nav-menu {
    height: 0px;
    overflow: hidden;
    background-image: $gradient-bg-white;
    box-shadow: $app-box-shadow;
    transition: all 300ms;

    .mobile-nav-list {
        padding: 10px 0;

        .mobile-nav-item {
            padding: 10px 0;

            .mobile-nav-link {
                font-weight: bold;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;

                svg {
                    margin-left: 5px;
                }
            }
        }
        .mobile-nav-item:not(:last-child) {
            margin-bottom: 10px;
        }

        .app-button-inverted, .app-button {
            width: 100%;
            justify-content: center;
            align-items: center;
        }
    } 
}
.mobile-show {
    height: auto!important;
}

.mobile-button-div {
    align-items: center;

    .mobile-menu-button {
        background: none
    }
}
/* ======== NAVBAR ======== */



/* ======== FOOTER ======== */
#main-footer {
    height: $header-height;
    background: #393933;
    margin-top: env(--safe-area-inset-bottom);
    
    .footer-list {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        li {
            color: white;
        }
        li:not(:last-child)::after {
            content: '/';
            color: white;
            opacity: 0.5;
            margin: 0 5px;
        }
    }
}
/* ======== FOOTER ======== */



/* ======== HOME-PAGE ======== */
.primary-section {
    height: 75vh;
    padding-top: $header-height;
    background-image: url("~/assets/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: $app-box-shadow;
}
.primary-hero-box {
    width: 50%;
    background: rgba(0, 0, 0, .75);
    backdrop-filter: blur(4px);
    padding: 50px;
    border-radius: $app-border-radius;

    h1, p {
        color: white;
    }
    
    .primary-hero-text {
        margin-bottom: 50px;
    
        h1 {
            font-size: 2em;
            font-weight: bold;
        }
        p {          
            font-size: 1.35em;
        }
    }

    .primary-hero-button {
        display: flex;
        align-items: center;

        p {
            margin: 0 10px;
        }
    }
}
/* ======== HOME-PAGE ======== */

/* ======== WORK-PAGE ======== */
.project-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 15px 10px;

    .project-card {
        display: flex;
        flex-direction: column;
        border: 1px solid lightgray;

        .project-header {
            padding: 10px 10px;
            font-size: 1.1em;
            display: flex;
            align-items: center;
            border-bottom: 1px solid lightgray;
            
            h1 {
                color: #494949;
            }

            .tag {
                background: #d6d6e7;
                color: #36395a;
                margin-left: auto;
                font-size: 0.8em;
                padding: 5px;
                border: 1px solid lightgray;
                border-radius: $app-border-radius;
            }
        }
        .project-body {
            padding: 15px 10px;
        }
        .project-footer {
            border-top: 1px solid lightgray;
            margin-top: auto;
            padding: 10px 10px;
        }
    }
}
/* ======== WORK-PAGE ======== */



/* ======== CONTACT-PAGE ======== */
.half-size-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px 20px;
}

.form-card {
    padding: 15px 10px;

    .form-group {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;

        label {
            font-weight: bold;
        }
        
        input, textarea {
            appearance: none;
        }
        input:not(input[type="submit"]), textarea {
            padding: 5px;
            border: 1px solid rgba(100, 100, 100, 0.35);
            border-radius: $app-border-radius;
            outline: none;
        }
        textarea {
            resize: vertical;
            height: 250px;
            max-height: 500px;
        }
    }
}

.icon-button-list {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 10px 0;

    li {
        display: flex;

        .icon-button-text {
            margin-left: 10px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: flex-start;
        }
    }
}
/* ======== CONTACT-PAGE ======== */



/* ======== BIG SIZED SCREENS ======== */
@media only screen and (min-width: 2000px) {
    .mobile-unhide {
        display: none;
    }

    .container {
        max-width: 2400px;
    }

    .project-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}
/* ======== BIG SIZED SCREENS ======== */



/* ======== TABLETS & MEDIUM SIZED SCREENS ======== */
@media only screen and (min-width: 600px) and (max-width: 1000px) {
    .mobile-unhide {
        display: none;
    }

    .primary-hero-box {
        width: 75%;
    }

    .project-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 25px;
    }
}
/* ======== TABLETS & MEDIUM SIZED SCREENS ======== */



/* ======== EVERYTHING THAT'S NOT A PHONE ======== */
@media only screen and (min-width: 600px) {
    .mobile-unhide {
        display: none;
    }
    .mobile-show {
        height: 0!important;
    }
}
/* ======== EVERYTHING THAT'S NOT A PHONE ======== */



/* ======== PHONES & SMALL SIZED SCREENS  ======== */
@media only screen and (max-width: 600px) {
    .nav-list {
        display: none;

        li::before {
            margin: 5px;
        }
    }

    .mobile-unhide {
        display: flex;
    }

    .primary-hero-box {
        width: 100%;

        .primary-hero-button {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;

            p {
                margin-top: 10px;
                margin-bottom: 10px;
            }
        }
    }

    .project-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 10px;
    }

    .half-size-grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto;
    }
}
/* ======== PHONES & SMALL SIZED SCREENS  ======== */