@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');



/* ======== VARIABLES ======== */
$header-height: 80px;
$half-header-height: 40px;
$header-safe-height: 120px;
$max-body-width: 1250px;
$app-main-color: #191919;
$app-secondary-color: #292929;
$combined-element-height: calc(var($header-height) + var($header-height) + 20px);
/* ======== VARIABLES ======== */



/* ======== CSS RESET & GENERAL STYLE ======== */
* {
    margin: 0;
    padding: 0;

    font-size: 1em;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    list-style: none;

    color: #292929;
}

.container {
    height: inherit;
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 10px;
}
.flex-row {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.flex-row-left {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.flex-row-right {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.flex-col-center {
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid-4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
}

.main-section {
    padding-top: $header-safe-height;
    padding-bottom: $half-header-height;
}
.main-section:last-child {
    min-height: calc(100vh - #{$header-height});
}

.section-title {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.app-button {
    width: max-content;
    display: flex;
    align-items: center;
    background: $app-main-color;
    color: white;
    padding: 10px 15px;
    font-weight: bold;
    border-radius: 4px;
    transition: all 300ms;

    svg {
        margin-left: 5px;
        color: white;
        fill: white;
    }
}
.app-button:hover {
    background: $app-secondary-color;
} 

.app-button-inverted {
    width: max-content;
    display: flex;
    align-items: center;
    background: white;
    color: $app-main-color;
    padding: 10px 15px;
    font-weight: bold;
    border-radius: 4px;
    transition: all 300ms;
}
.app-button-inverted:hover {
    background: lightgray;
} 

.app-link {
    font-style: italic;
    text-decoration: underline;
}

.icon-button {
    width: max-content;
    padding: 5px;
    border-radius: 4px;

    svg {
        height: 48px;
        width: 48px;
    }
}
.icon-button-discord {
    background: #7289DA;

    svg {
        color: white;
        fill: white;
    }
}
.icon-button-mail {
    background: #99AAB5;

    svg {
        color: white;
        fill: white;
    }
}
.icon-button-twitter {
    background: #1DA1F2;

    svg {
        color: white;
        fill: white;
    }
}

.warning-banner {
    background: #fc6551;
    padding: 10px 5px;
    margin-bottom: 15px;

    h1, p {
        color: white;
    }
}
/* ======== CSS RESET & GENERAL STYLE ======== */



/* ======== NAVBAR ======== */
#main-nav {
    height: $header-height;
    width: 100%;
    background: rgba(0, 0, 0, .8);
    backdrop-filter: saturate(100%) blur(4px);
    position: fixed;
    z-index: 999;
}

.nav-logo {
    a {
        height: 64px;
        width: 64px;

        img {
            height: 64px;
            width: 64px;
        }
    }
}

.nav-list {
    li {
        color: white;
        display: flex;

        .nav-link {
            transition: all 300ms;
            display: flex;
            flex-direction: row;
            align-items: center;

            svg {
                margin-left: 4px;
                color: white;
                fill: white;
                transition: all 300ms;
            }
        }
        .nav-link:hover {
            color: #cdcdcd;
            svg {
                color: #cdcdcd;
                fill: #cdcdcd;
            }
        }
    }
    li::before {
        content: '/';
        color: white;
        margin: 10px;
        opacity: 0.5;
    }
    li:first-child::before {
        color: transparent;
    }
}
/* ======== NAVBAR ======== */



/* ======== FOOTER ======== */
#main-footer {
    height: $header-height;
    background: #393933;
    
    .footer-list {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        li {
            color: white;
        }
        li::after {
            content: '/';
            color: white;
            opacity: 0.5;
            margin: 0 5px;
        }
        li:last-child::after {
            display: none;
        }
    }
}
/* ======== FOOTER ======== */



/* ======== HOME-PAGE ======== */
.primary-section {
    height: 75vh;
    padding-top: $header-height;
    background-image: url("~/assets/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.primary-hero-box {
    width: 50%;
    background: rgba(0, 0, 0, .75);
    backdrop-filter: blur(4px);
    padding: 50px;
    border-radius: 4px;
    
    .primary-hero-text {
        margin-bottom: 50px;
    
        h1 {
            color: #bfbfbf;
            font-size: 2em;
            font-weight: bold;
        }
        p {
            color: white;
            font-size: 1.35em;
        }
    }

    .primary-hero-button {
        display: flex;
        align-items: center;

        p {
            color: white;
            margin: 0 10px;
        }
    }
}
/* ======== HOME-PAGE ======== */



/* ======== WORK-PAGE ======== */
.project-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;

    .project-card {
        display: flex;
        flex-direction: column;
        border: 1px solid lightgray;
        border-radius: 4px;

        .project-header {
            padding: 10px 5px;
            font-size: 1.1em;
            display: flex;
            align-items: center;
            border-bottom: 1px solid lightgray;

            .tag {
                margin-left: auto;
                font-size: 0.8em;
                padding: 5px;
                border: 1px solid lightgray;
                border-radius: 4px;
            }
        }

        .project-body {
            padding: 15px 5px;
        }

        .project-footer {
            background: #dfdfdf;
            margin-top: auto;
            padding: 10px 5px;
        }
    }
}
/* ======== WORK-PAGE ======== */



/* ======== CONTACT-PAGE ======== */
.half-size-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    
    input, textarea {
        padding: 5px;
        border: 1px solid rgba(100, 100, 100, 0.5);
        appearance: none;
    }
    input[type="text"], input[type="email"], textarea {
        outline: none;
    }
    textarea {
        resize: vertical;
        height: 250px;
        max-height: 500px;
    }
    input[type="submit"] {
        background: $app-main-color;
        color: white;
        font-weight: bold;
        margin-top: 10px;
        padding: 15px 5px;
        cursor: pointer;
        transition: all 300ms;
    }
    input[type="submit"]:hover{
        background: $app-secondary-color;
    }
}
/* ======== CONTACT-PAGE ======== */



/* ======== TABLETS & MEDIUM SIZED SCREENS ======== */
@media only screen and (min-width: 600px) and (max-width: 1000px) {
    .primary-hero-box {
        width: 75%;
    }

    .project-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 25px;
    }
}
/* ======== TABLETS & MEDIUM SIZED SCREENS ======== */



/* ======== PHONES & SMALL SIZED SCREENS  ======== */
@media only screen and (max-width: 600px) {
    .nav-logo {
        display: none;
    }
    .nav-list {
        li::before {
            margin: 5px;
        }
    }

    .primary-hero-box {
        width: 100%;
    }

    .project-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 10px;
    }

    .half-size-grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
}
/* ======== PHONES & SMALL SIZED SCREENS  ======== */