#game-app {
    min-height: 100vh;
    padding-top: 66px;

    #game-screen {
        height: calc(100vh - 146px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .game-body {
            width: 50%;
            background: #fefefe;
            padding: 50px 50px;
            border-radius: 4px;

            #game-title {
                padding-bottom: 25px;
                font-size: 1.25em;
                font-weight: bold;
                text-align: center;
            }

            .game-text {
                padding-bottom: 50px;

                h1 {
                    padding: 10px 15px;
                    font-size: 1.15em;
                    font-weight: bold;
                    border: 1px solid rgba(0, 0, 0, .25);
                    border-radius: 4px;
                }
            }
    
            .game-button {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;

                button {
                    background: #191919;
                    color: #fff;
                    font-weight: bold;
                    padding: 10px 20px;
                    cursor: pointer;
                    border-radius: 4px;

                    transition: 300ms;
                }
                button:hover {
                    transform: scaleX(1.05);
                }
            }
        }
    }
}

@media only screen and (min-width: 600px) and (max-width: 1000px) {

}
@media only screen and (max-width: 600px) {
    #game-app {
        #game-screen {
        
            .game-body {
                width: 100%;
            }
        }
    }
}