.fl { display: flex; }
.fl-row { flex-direction: row; }
.fl-col { flex-direction: column; }
.fl-j-str { justify-content: flex-start; }
.fl-j-cen { justify-content: center; }
.fl-j-end { justify-content: flex-end; }
.fl-a-str { align-items: flex-start; }
.fl-a-cen { align-items: center; }
.fl-a-end { align-items: flex-end; }